# An API key is an alphanumeric string that you can use to connect your code base with Builder. 
# Use the Builder Public API Key to integrate with Builder.
PUBLIC_BUILDER_API_KEY=YOUR_PUBLIC_API_KEY
